a:link {
  text-decoration: none;
}

a:hover {
text-decoration: underline;
}

a:visited {
  color: rgb(78, 2, 209);
}

.navbar-brand {
  font-size: 32px;
}

.headline {
  font-size: 22px;
  font-style: bold;
}

.headline-other {
  font-size: 16px;
}

.short {
  font-size: 16px;
  margin-bottom: 12px;
  /* margin-left: 50px; */
}

.secondaryitems {
  font-size: 16px;
  margin-bottom: 12px;
  margin-left: 0;
  border-left: 1px solid #ccc;
  padding-left: 20px;
}

.navbar-nav {
margin-left: 300px;
}

.section {
  text-align: center;
  margin-bottom: 30px;
}

.current {
  font-weight: bold;
  border-bottom: 1px solid black;
}

.sourcename {
  position: relative;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}

.sidebar {
  top: 0;
  left: 0;
  height: 400px;
  background-color: #f5f5f5;
  padding: 20px;

}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.liveupdates {

  padding: 20px;
}

.lastupdated { 
  margin-top: 20px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}