a:link {
  text-decoration: none;
}

a:hover {
text-decoration: underline;
}

.navbar-brand {
  font-size: 32px;
}

.headline {
  font-size: 22px;
  font-style: bold;
}

.headline-other {
  font-size: 16px;
}

.short {
  font-size: 16px;
  margin-bottom: 12px;
  margin-left: 50px;
}

.secondaryitems {
  font-size: 16px;
  margin-bottom: 12px;
  margin-left: 50px;
}

.navbar-nav {
margin-left: 300px;
}

.section {
  text-align: center;
  margin-bottom: 30px;
}

.current {
  font-weight: bold;
  border-bottom: 1px solid black;
}

.sourcename {
  position: relative;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}
