{% extends 'base.html' %}
{% set active_page = section %}

 {% block content %}

 <div class="container mt-5">
    <div class="row">
        <div class="col-sm-9">
            <h2 class="section"> {{ section }}</h2>

            {% for clusterid, items in item1|groupby("clusterid") %}
                
                    {% for item in items %}
                    {% if loop.index == 1 %}
                    <div class="headline"><a href="{{ item.url }}">{{ item.headline}}</a></div>
                    <div class="short"><small>{{item.source}}</small> {{item.summary}}</div>
                    {% else %}
                    <div class="secondaryitems">                  
                    <div class="headline-other"><a href="{{ item.url }}">{{ item.headline}}</a></div>
                    <div class="short"><small>{{item.source}}</small> {{item.summary}}</div>
                    </div>  
                    {% endif %}


                  {% endfor %}
                <hr>
              {% endfor %}
            
            
                        </div><br>

                <hr>
            <br>


        </div>
    </div>
        {% endblock %}
