{% extends 'base.html' %}
{% set active_page = section %}

 {% block content %}

       <div id="breakingnews"></div>

      <h2 class="section">{% block title %} {{ section }} {% endblock %}</h2>
  
      {% for clusterid, items in item1 %}
          <div class="news-cluster">
            {% for item in items %}
              {% if loop.index == 1 %}
                <div class="primary-item">
                  {% if item.imageurl %}
                    <img src="{{ item.imageurl }}" class="newsitemimg" alt="News image for {{ item.headline }}">
                  {% endif %}
                  <div class="headline">
                    <a href="{{ item.url }}">{{ item.headline }}</a>
                    {% if item.new == 1 %}
                      <div class="newnews">New</div>
                    {% endif %}
                  </div>
                  <div class="short">
                    {{ item.summary }}
                    <div class="sourcename">
                      {{ item.source }} &nbsp;&nbsp;&nbsp; {{ item.pubdate|default('') }}
                    </div>
                  </div>
                </div>
              {% else %}
                <div class="secondaryitems">
                  <div class="headline-other">
                    <a href="{{ item.url }}">{{ item.headline }}</a>
                    {% if item.new == 1 %}
                      <div class="newnews">New</div>
                    {% endif %}
                  </div>
                  <div class="short">
                    {{ item.summary }}
                    <div class="sourcename">{{ item.source }}</div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
            <hr>
          </div>
      {% endfor %}
  

<script src="/static/js/jquery-3.7.1.min.js" type="text/javascript"></script>
<script>

  function liveupdates() {
    $.get('/liveupdates/{{ lastid }}', function (data) {
      $('#liveupdates').html(data);
    });
  }

  $(document).ready(function () {
    setInterval(liveupdates, 600000);
  });

  function breakingnews() {
    $.get('/api/breakingnews', function (data) {
      $('#breakingnews').html(data);
    });
  }

  $(document).ready(function () {
    setInterval(livbreakingnewseupdates, 300000);
  });

  function start() {
    liveupdates();
    breakingnews();
  }

  window.onload = start;
</script>


        {% endblock %}
